<div class="container page-container text-center">
  <div style="margin:100px;">
    <h1>Klanz Deckbuilder v0.9.3-beta</h1>
    <h3>Декострой для онлайн ККИ <%= link_to 'Klanz', 'http://klanz.ru/' %>, сделанный с любовью старичком <%= link_to 'rainy', 'http://klanz.ru/users/495248' %>!</h3>
    <p>Писать на почту в Кланзе, в <%= link_to 'тему на форуме', 'https://klanz.ru/forums/1/topics/30429' %> или сюда: <%= mail_to 'pixelgoo@gmail.com' %></p>
  </div>
</div>