<div class="container">
  <div class="jumbotron">
    <h1>Все карты</h1>
    <table class="table table-striped">
      <tbody>
      <% @cards.each do |card| %>
          <%= render partial: 'layouts/card', locals: { card: card } %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>