@mixin rarity($color)
  box-shadow: 0px 0px 50px $color

.card
  display: block
  float: left
  margin: 12px
  width: $card-width
  height: $card-height
  font-family: 'Neuron-DemiBold', sans-serif
  font-size: 18px
  text-align: center
  color: white
  border: 4px solid white
  box-shadow: 0 1px 2px black
  text-shadow: 0 1px 1px black
  border-radius: 22px
  transition: 0.3s
  &:hover
    cursor: pointer
    transition: 0.3s

.art
  img
    width: 100%
    height: 120px
    border-radius: 15px 15px 0 0

@for $i from 1 through 27
  .clan-#{$i}
    background-image: image-url('background_clans/#{$i}.png')

.legend
  background-image: image-url('back_legend.png')
  > .main-line-legend
    background-image: image-url('name_back_legend.png')
  &:hover
    @include rarity($legend-color)

.uniq
  background-image: image-url('back_uniq.png')
  > .main-line-uniq
    background-image: image-url('name_back_uniq.png')
  &:hover
    @include rarity($uniq-color)

.rare
  background-image: image-url('back_rare.png')
  > .main-line-rare
    background-image: image-url('name_back_rare.png')
  &:hover
    @include rarity($rare-color)

.common
  background-image: image-url('back_common.png')
  > .main-line-common
    background-image: image-url('name_back_common.png')
  &:hover
    @include rarity($common-color)

.main-line-common, .main-line-rare, .main-line-uniq, .main-line-legend
  background-repeat: no-repeat
  background-position-y: -7px

.main-line
  height: 58px
  width: 152px
  border-radius: 5px
  position: absolute

.name
  padding-top: 4px

.long-ability
  font-size: 14px

.long-name
  font-size: 14px
  padding-top: 6px

.power-bg, .damage-bg
  position: absolute
  height: 37px
  width: 49px
  bottom: 38px

.power-bg
  left: -25px

.damage-bg
  right: -22px

.power, .damage
  position: absolute
  font-size: 26px

.power
  bottom: -15px
  right: 19px

.damage
  bottom: -15px
  right: 18px

.stats
  display: block
  height: 58px
  margin-top: 42px
  font-size: 16px
  clear: both
  background-position: 70px 0px
  background-repeat: no-repeat
  background-size: 60%

.bonus
  display: block
  border-radius: 12px
  margin-top: 10px
  padding: 4px
  background-color: rgba(white, .1)