h4
  font-style: italic

.deck-container
  margin-bottom: 10px

.info
  font-size: 22px
  text-align: center

.deck-clans, .deck-rating
  padding: 8px

.deck-additional-info
  cursor: default
  text-align: center
  padding: 20px
  margin: 0 auto

.deck-titles, .deck-info
  font-size: 14px
  padding: 10px
  background-color: $bgHighlight

.deck-info
  margin-top: 10px
  text-align: left
