#deck-name
  background-color: $bgDefault
  color: $colHighlight
  padding: 5px

#author
  font-style: italic

#deck-info
  margin-top: 10px
  font-size: 14px

#deck-titles
  font-size: 14px
  padding: 10px
  background-color: $bgHighlight

.deck-container
  margin-bottom: 10px

.header-container
  cursor: default
  padding: 25px 0
  background-color: $bgHighlight

#copy-container
  margin-top: 15px
  margin-bottom: 15px

#deck-link
  all: unset
  color: white
  background-color: $bgDefault
  width: 415px
  height: 30px
  resize: none

#copy-deck-link
  font-size: 20px

.clipboard-btn
  all: unset
  cursor: pointer
  border-bottom: 2px dashed white

.deck-additional-info
  cursor: default
  text-align: center
  padding: 20px
  margin: 0 auto

