.field
  margin: 30px

.devise-input
  all: unset
  width: 400px
  color: $colHighlight
  background-color: $bgHighlight
  border-bottom: 1px solid $colHighlight

#error_explanation
  margin: 0 150px
  padding: 5px
  border: 2px dashed orangered

#sign-in
  width: 400px
  font-size: 20px
  margin: 30px

.links
  margin: 20px 0 40px 0
  font-size: 14px

.tip
  float: left
  position: absolute
  font-size: 12px
  font-style: italic
  color: $colHighlight
  margin: 0 10px

