.filter-container
  cursor: default
  padding: 25px 0
  background-color: $bgHighlight

.rarity-filter, .star-filter, .clan-filter
  img
    padding: 4px
    transition: 0.2s
    &:hover, &:focus
      transition: 0.2s
      box-shadow: 0px 0px 4px black


.rarity-filter, .star-filter
  img
    width: 25px
    height: 25px

.star-filter
  img
    border-radius: 15px

.clear-filter
  font-size: 16px

.rarity-active, .clan-active, .star-active
  img
    box-shadow: 0px 0px 4px black

.dropdown
  float: left
  margin: 0 4px


.btn-filter
  transition: 0.2s
  background-color: $bgDefault
  border-color: $bgDefault
  &:hover, &:focus, &:active:focus
    outline: none !important
    transition: 0.2s
    background-color: $bgDefault
    border-color: $bgDefault

.dropdown-menu
  background-color: $bgHighlight
  li
    float: left
    a
      color: white
      font-size: 22px
      &:hover, &:active, &:focus
        background-color: $bgHighlight
        color: $colHighlight

.stats-current
  color: $colHighlight
  padding-left: 2px