@import "bootstrap-sprockets"
@import "bootstrap"

$card-width: 160px
$card-height: 232px

$deck-card-width: 80px
$deck-card-height: 110px

$legend-color: #ffe700
$uniq-color: #0081ff
$rare-color: #00c02f
$common-color: #a5a5a5

$bgDefault      : #403f48
$bgHighlight    : #27262d
$bgDefaultDark  : #131313
$colDefault     : white
$colHighlight   : gold
$dropDown       : true

@font-face
  font-family: 'Neuron-DemiBold'
  src: font-url('Neuron-DemiBold.otf')
  src: font-url('Neuron-DemiBold.woff') format('woff'), font-url('Neuron-DemiBold.svg') format('svg'), font-url('Neuron-DemiBold.ttf') format('ttf'), font-url('Neuron-DemiBold.eot') format('eot')
  font-weight: normal
  font-style: normal

html
  position: relative
  min-height: 100%

body
  background-image: image_url('city.jpg')
  background-attachment: fixed
  font-family: 'Neuron-DemiBold', sans-serif
  font-size: 20px
  /* Margin bottom by footer height */
  margin-bottom: 100px

table
  font-size: 14px

.container
  color: whitesmoke
  background-color: $bgDefault
  a
    transition: 0.2s
    color: #b7b7b7
    &:hover
      transition: 0.2s
      color: whitesmoke

#cards
  padding-top: 20px
  display: none

h1
  text-shadow: 0 1px 2px black

a
  transition: 0.2s
  &:focus
    outline: 0
  &:hover
    transition: 0.2s

#username
  text-align: center

#cards
  display: none
  width: 79%
  margin: 0 auto

.cards-container
  text-align: center
  margin-bottom: 50px

.deck-container
  margin-bottom: 0

@import 'navbar'
@import 'filter'
@import 'card'
@import 'pagination'
@import 'deckholder'
@import 'deck'
@import 'loader'
@import 'deck_list'
@import 'static_pages'
@import 'footer'
