@import "bootstrap-sprockets"
@import "bootstrap"

$card-width: 160px
$card-height: 232px

$deck-card-width: 80px
$deck-card-height: 110px

$legend-color: #ffe700
$uniq-color: #0081ff
$rare-color: #00c02f
$common-color: #a5a5a5

$bgDefault      : #403f48
$bgHighlight    : #27262d
$bgDefaultDark  : #131313
$colDefault     : #b2bbbd
$colHighlight   : #ffffff
$dropDown       : true

@import 'navbar'
@import 'filter'
@import 'card'
@import 'pagination'
@import 'deckholder'
@import 'deck'
@import 'loader'

body
  background-image: image_url('city.jpg')
  background-attachment: fixed
  font-family: 'Roboto', sans-serif
  font-size: 16px

.container
  color: whitesmoke
  background-color: $bgDefault
  margin-bottom: 165px
  min-height: 350px
  border-radius: 15px

#cards-box

#cards
  padding-top: 20px
  display: none

h1
  text-shadow: 0 1px 2px black

a
  transition: 0.2s
  &:focus
    outline: 0
  &:hover
    transition: 0.2s

#username
  text-align: center

#cards
  display: none
  width: 79%
  margin: 0 auto

.cards-container
  text-align: center
