<div class="container page-container">
  <h3>Созданные игроками деки</h3>
  <h4>Здесь вы можете увидеть список самых популярных дек, оценить их лайками и поделиться с другими игроками.
  Кликните на деку для более подробного просмотра.</h4>
  <table class="table table-inverse decks-table">
    <%= render 'deck_table' %>
  </table>
  <div class="bottom-line">
    <div class="paginator">
      <%= paginate @decks, remote: true %>
    </div>
  </div>
</div>
