<div class="container">
  <h1 class="main-h1">Созданные игроками деки</h1>
  <h2>Здесь вы можете увидеть список самых популярных дек, оценить их лайками и поделиться с другими игроками!</h2>
  <table class="table table-striped">
    <tbody>
      <% @decks.each do |deck| %>
          <%= render deck, deck: deck %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @decks %>
</div>