<div class="deck">
  <div class="info">
    <%= @deck.user %>
    <%= @deck.likes %>
    <%= @deck.dislikes %>
  </div>
  <div class="deck-cards">
    <% get_cards(@deck).each do |card| %>
      <%= render card, card: card %>
    <% end %>
  </div>
</div>
