<div class="container page-container">
  <h2>Мои деки</h2>
  <div class="row">
    <table class="table table-inverse decks-table">
      <%= render 'deck_table' %>
    </table>
    <div class="bottom-line">
      <div class="paginator" id="decks-paginator">
        <%= paginate @decks, remote: true %>
      </div>
    </div>
  </div>
</div>
