<footer class="footer">
  <div class="v_ln"></div>
  <div class="container footer-container">
        <div class="row footer-row">
          <div class="col-md-1">
            <div class="footer-text left">
              <%= link_to 'О проекте', about_path, :class => 'footer-link' %>
            </div>
          </div>
          <div class="col-md-7">
            <div class="footer-text left">
              <%= link_to 'Klanz', 'http://klanz.ru/', :class => 'footer-link' %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="github">
              <div class="footer-text right">Сделано с ♥ на Ruby on Rails</div>
              <a href="https://github.com/pixelgoo/KlanzDeckbuilder"></a>
            </div>
          </div>
        </div>
  </div>
</footer>
