<footer class="footer">
  <div class="v_ln"></div>
  <div class="container footer-container">
        <div class="row footer-row">
          <div class="col-md-1">
            <div class="footer-text left">
              <%= link_to 'О проекте', about_path %>
            </div>
          </div>
          <div class="col-md-7">
            <div class="footer-text left">
              <%= link_to 'Klanz', 'http://klanz.ru/' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-text right">
              Сделано <%= link_to 'rainy', 'http://klanz.ru/users/495248' %> с ♥ на Ruby on Rails
            </div>
          </div>
        </div>
  </div>
</footer>
